/*user information*/
/*
input, button, select, textarea {
  -webkit-appearance: none;
}
*/

#user-account {
  text-align: center;
}

#user-setting-list li .class {
  display: flex;
}

#user-setting-list > li > div > div > img {
  width: 100px;
  height: 100px;
}

#user-setting-list > li > div > div {
  text-align: center;
}

#user-name, #mail-addr {
  font-size: 32px;
}


/* authentication*/
#user-setting-btn {
  z-index: 100;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
}

#user-setting-btn > img {
  width: 100%;
  height: 100%;
}

#user-account {
  text-align: center;
}
#user-account > div:nth-child(3) {
  width: 70%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#user-account > div:nth-child(4) {
  width: 70%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* official event */

#official_event_list  > li {
  text-align: center;
  padding-bottom: 15px;
  margin: auto;
  width: 70%;

}

#official_event_list > li > button {
  display: flex;
  width: 100%;
  height: 100%;
}

#official_event_list > li > button > div.image {
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#official_event_list > li > button > div.image > img {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#official_event_list > li > button > div.event_content {
  width: 80%;
  text-align: left;
  padding-left: 5px;
  margin: auto;
}
/* personal event */
#personal_event_list > li {
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
  width: 80%;

}
#personal_event_list > li > button {
  width: 100%;
}

#personal_event_list > li > button > div {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* personal config */
#personal_event_frame {
  text-align: center;
}

#personal_event_frame > hr {
  width: 70%;
}

#personal_event_frame > table {
  margin: auto;
  width: 70%;
}

#personal_event_frame > table > tbody > tr > th {
  background-color: #eaa;
}

/* personal event form*/
#event_post_form {
  margin: auto;
  width: 70%;
}
#event_post_form > div > div.blank {
  width: 100%;
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#event_post_form > div > hr {
  border: none;
  width: 70%;
  margin-right: 0;
  margin-bottom: 15px;
}
#event_post_form > div.ui-field-contain > div > hr {
  border: none;
  margin-right: 0;
  margin-bottom: 15px;
}
#event_post_form > div.ui-field-contain {
  display: flex;
}


#event_post_form > div.ui-field-contain >div:nth-child(1) {
  width: 40%;
}

#event_post_form > div.ui-field-contain >div:nth-child(2) {
  width: 60%;
  padding-left: 5px;
}

#event_post_form > div.ui-field-contain > label {
  width: 30%;
}

#event_post_form > div.ui-field-contain > input {
  width: 70%;
}

/* デフォルト：479px以下用（スマートフォン用）の記述 */
@media screen and (min-width: 480px) {
  #user-setting-btn {
    width: 30px;
    height: 30px;
  }
  #official_event_list  > li {
    margin: auto;
  }
/* 480px以上用（タブレット／スマートフォン用）の記述 */

}

@media screen and (min-width: 768px) {
  #user-setting-btn {
    width: 70px;
    height: 70px;
  }
/* 768px以上用（タブレット用）の記述 */

}

@media screen and (min-width: 980px) {

/* 980px以上用（PC用）の記述 */
  #official_event_list  > li {
    width: 60%;
  }

  #personal_event_list > li {
    width: 60%;
  }

  #user-account > div:nth-child(3) {
    width: 50%;
  }

  #user-account > div:nth-child(4) {
    width: 50%;
  }

  #user-setting-btn {
    width: 100px;
    height: 100px;
  }

  #event_post_form {
    width: 60%;
  }
}
