/* official event */
#official_event h1 {
  text-align: center;
}

.event_img {
  width: 10%;
  height: 100px;
}

.event {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  margin-top: 15px;
  margin-bottom: 15px;
}

.event a {
  display: flex;
  height: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #DDD;
}

.event a img {
  margin: 10px;
}

.event a .event_content {
  position: relative;
  left: 20px;
  top: 20px;
  width: 80%;
}

/* personal event */
#personal_event h1 {
  text-align: center;
}

.personal_event {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.personal_event button {
  display: flex;
  z-index: 10;
}

/* personal event full */
#personal_event_full {
  position: relative;
}

#personal_event_full h1 {
  text-align: center;
}

#personal_event_full pre {
  text-align: center;
  font-size: 130%;
}

#personal_event_full table {
  margin: 0 auto;
}

#personal_event_full table tr th {
  background-color: #FDD;
}

/*personal event regist */
.large-block {
  border-bottom: solid 3px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-block {
  overflow: hidden;
}

.form-block p {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.form-block input {
  float: left;
  position: relative;
  box-shadow: inset 1px 1px 1px 1px #222;
  top: 12px;
  left: 5px;
}

.form-block select {
  float: left;
  position: relative;
  top: 12px;
  left: 5px;
}

.form-block textarea {
  margin-left: 10px;
}

#personal_event_submit {
  margin-bottom: 30px;
}

.required {
  color: #F00;
}

/* event mode switch tab */
#personal_event_reset {
  position: fixed;
  left: 90%;
  bottom: 20%;
}

#event_panel_torigger {
  position: fixed;
  z-index: 9999;
  left: 90%;
  top: 20%;
}

/* user setting  */
#user-setting-btn {
  position: absolute;
  left: 90%;
  top: 100px;
}

#user-setting-list li p {
  font-size: 10px;
}

.user-regist {
  position: relative;
  top: 30px;
}

/* personal event*/
pre {
    /* Mozilla */
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* CSS3 */
    white-space: pre-wrap;
    /* IE 5.5+ */
    word-wrap: break-word;
}

#p_eve_content {
  text-align: left;
}
.containing-element .ui-slider-switch { width: 9em }
