body , html {
    height: 100%;
	margin: 0;
}

#contents {
    width: 100%;
    min-height: calc(100vh - 50px);
}

#footer {
    width: 100%;
    height: 0px;
}

#mapResult,#content,#transit,#event {
	height: calc(100vh - 50px);
}

.mapdiv{
	height: 400px;
	width: 100%;
}

/*吹き出し用のスタイル*/
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}

.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}

.ol-popup-closer:after {
	content: "✖";
}
/* タブのスタイル */
.tab {
  border-bottom: 3px solid #fb4343;
}
.tab li {
  color: #333;
  float: left;
  margin: 0 10px -1px 0;
  padding: 10px 20px;
  border: 1px solid #fb4343;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}
.tab li.active {
  color: #fff;
  background: #fb4343;
  cursor: auto;
}

/* 20181018 mishima start */
/*ヘッダーのデザイン*/
#headervar{
	display: flex;
}
.headerItem{
	background: #fff;
	text-align: center;
	font-size: 1.5rem;
	padding: 10px 1px;
	color:#808000;
	background-color: #66FFFF;
	flex:1;
}
/*検索ボタンデザイン*/
#search{
	position:relative;
    text-align:center;
}
#searchButton {
    cursor : pointer;
}

/*「アプリ選択」ボタン*/
#application-Select{
	position:relative;
}
#application-Select-Button{
	position: absolute;
	z-index: 101;
	cursor : pointer;
	top:20px;
	left: 10%;
    display: inline-block;
	font-weight: bold;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    background-color: white;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

/*「言語選択」ボタン*/
#Language-Select{
	position:relative;
}
#Language-Select-Button{
	position: absolute;
	z-index: 101;
	cursor : pointer;
	top:20px;
	right: 10%;
    display: inline-block;
	font-weight: bold;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    background-color: white;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
/*アプリのメニューバー*/
.menu-list {
	position: absolute;
	display: none;
	padding-top:6px;
	padding-bottom: 6px;
	padding-left:6px;
	padding-right:10px;
	z-index: 101;
    background: #66CCFF;
    border-radius: 9px;
}

/*各アプリの枠デザイン*/
.classlayer{
	font-weight: bold;
	display:block;
	margin: 2px;
	cursor : pointer;
	width: 98%;
	background-color: #CCFFCC;
    border: solid 2px #CCFFFF;
    border-radius: 3px;
}
/*「・」を見せない*/
.menu-list li {
	list-style-type: none;
}
.classlayer,.checkbox-layer{
	vertical-align: middle;
}
/* 20181018 mishima end */

/* jquery.timepicker用 */
input.time {
    width: 80px;
}

